<td>{{ title }}</td>
<td>{{ subTitle }}</td>
<td>{{ notes }}</td>
<td>{{ uri }}</td>
<td>{{ thumbnail }}</td>
<td>{{ ownerId }}</td>
<td>{{ created }}</td>
<td>{{ modified }}</td>
<!--<td>
    <button data-model-list="edit" type="button" class="active btn btn-xs btn-primary">
        <i class="glyphicon glyphicon-edit "></i> Edit
    </button>
</td>-->
