<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Sub Title</th>
            <th>Notes</th>
            <th>URI</th>
            <th>Thumbnail</th>
            <th>OwnerId</th>
            <th>Created</th>
            <th>Modified</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>