@import "bootstrap/bootstrap.less";
//@import "../fontawesome/font-awesome.less";
@import "_variables.less";
//@import "_utilities.less";
//@import "_fonts.less";
@import "_sitewide.less";

.user-search-input {
    padding-top: 20px;
    margin-left: 30px;
}

.pagination-wrapper {
    margin-bottom: -26px;
    margin-left: 15px;
    ul.pagination {
        margin-left: 10px;
    }
}

.admin-index {
    .admin-index-list {
        font-size: 16px;
    }
}

.user-list,
.video-list,
.file-list {
    .datagrid {
        border: 1px solid #006699;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        display: inline-block;
        table {
            border-collapse: collapse;
            text-align: left;
            width: 100%;
            thead th {
                background-color: #006699;
                color: #FFFFFF;
                font-size: 15px;
                font-weight: bold;
                border-left: 1px solid #0070A8;
                padding: 3px 10px;
            }
            tr:nth-child(even) {
                background: #E1EEf4;
                color: #00557F;
            }
            tr:nth-child(odd) {
                color: #00557F;
            }
            tbody {
                td:first-child {
                    border-left: none;
                }
                td {
                    border-left: 1px solid #E1EEF4;
                    padding: 3px 10px;
                }
            }
        }
    }
}
.video-list {
    td {
        max-width: 170px;
        overflow: hidden;
        text-overflow:
        ellipsis;
        white-space: nowrap;
    }
}

.user-edit {
    .left-region,
    .center-region,
    .right-region {
        vertical-align: top;
    }
    .center-region,
    .right-region {
        margin-left: 30px;
    }
    input.checkbox {
        width: 15px;
        height: 15px;
    }

    fieldset.roles-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #000;
                box-shadow:  0px 0px 0px 0px #000;
    }
    legend.roles-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }
    /*legend {
        //font-size: 14px !important;
        //margin-bottom: 0px;
    }*/

    ul.roles-ul {
        list-style: none;
        margin-left: -40px;
    }
}
