<div class="row clearfix">
    <div id="paginator-top" class="inline-block"></div>
    <div id="video-search" class="inline-block video-search-input"></div>
</div>
<div class="row clearfix">
    <div id="video-list" class="col-md-12 column video-list"></div>
</div>
<div class="row clearfix">
    <div id="paginator-bottom"></div>
</div>