<div class="row clearfix">
    <div id="paginator-top" class="inline-block"></div>
    <div id="user-search" class="inline-block user-search-input"></div>
</div>
<div class="row clearfix">
    <div id="user-list" class="col-md-12 column user-list"></div>
</div>
<div class="row clearfix">
    <div id="paginator-bottom"></div>
</div>