<td>{{ email }}</td>
<td>{{ lastName }}</td>
<td>{{ firstName }}</td>
<td>{{ roles.join() }}</td>
<td>{{ created }}</td>
<td>{{ modified }}</td>
<td>{{ deleted }}</td>
<td>
    <button data-model-list="edit" type="button" class="active btn btn-xs btn-primary">
        <i class="glyphicon glyphicon-edit "></i> Edit
    </button>
</td>
