<table>
    <thead>
        <tr>
            <th>Email</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Roles</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Deleted</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>