<div class="row clearfix">
    <div class="col-md-12 column">
        <legend>
            Admin - Media Viewer
        </legend>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12 column ">
        <div class="inline-block">
            <ul class="admin-index-list">
                <li><a href="#users">Users</a></li>
                <li><a href="#">File system</a></li>
            </ul>
        </div>
    </div>
</div>